<ion-list>
  <ion-item button (click)="criarClasse()">
    <ion-icon name="school-outline" slot="start"></ion-icon>
    <ion-label>Criar Turma</ion-label>
  </ion-item>

  <ion-item button (click)="criarPost()">
    <ion-icon name="create-outline" slot="start"></ion-icon>
    <ion-label>Criar Post</ion-label>
  </ion-item>

  <ion-item button (click)="criarTarefa()">
    <ion-icon name="clipboard-outline" slot="start"></ion-icon>
    <ion-label>Criar Tarefa</ion-label>
  </ion-item>
</ion-list>
