<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button
      slot="start"
      icon="chevron-back-outline"
      color="dark"
      text="">
    </ion-back-button>
    <ion-title color="dark">Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Perfil</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Alterar nome</ion-item>
    <ion-item [button]="true">Alterar foto de perfil</ion-item>
  </ion-list>
  <ion-list-header>Aparencia</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle justify="space-between" [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)">Modo escuro</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle justify="space-between">Aumentar espaçamento</ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list-header>Mais</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true" [routerLink]="['/policy']">Politica de privacidade</ion-item>
    <ion-item [button]="true">Termos de uso</ion-item>
    <ion-item [button]="true">
      <ion-label color="danger" (click)="canDismiss()">Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
