<ion-header>
    <div class="header-top content-container">
        <class-selector></class-selector>
        <div class="header-search">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
</ion-header>

<div class="header-nav content-container">
    <button>Postagens</button>
    <button>Tarefas</button>
    <button>Calendário</button>
</div>

<ion-content>
    <post-card *ngFor="let post of posts" [post]="post"></post-card>
</ion-content>

<ion-footer>

</ion-footer>