<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>
<task-card [task]="taskExample"></task-card>