<main class="content-container">
	<h1 class="ion-text-center">Cadastre-Se no Coaprend</h1>
	<form #loginForm="ngForm" class="app-form">
		<div>
			<input type="email" name="email" [(ngModel)]="userData.email" placeholder=" "/>
			<label for="email">Email</label>
		</div>
		<div>
			<input type="password" name="password" [(ngModel)]="userData.password" placeholder=" "/>
			<label for="password">Password</label>
		</div>
		<div>
			<input type="date" name="birthday" [(ngModel)]="userData.dt_birthday" placeholder=" "/>
			<label for="birthday">Data de Nascimento</label>
		</div>
		<button (click)="submitForm()" class="ripple" style="position: relative;">Continuar</button>
	</form>
	<span>OU</span>
	<button (click)="googleLogin()" class="google-btn ripple" aria-label="Continuar com Google" style="position: relative;">
		<img src="https://www.gstatic.com/marketing-cms/assets/images/d5/dc/cfe9ce8b4425b410b49b7f2dd3f3/g.webp=s96-fcrop64=1,00000000ffffffff-rw" alt="Logo do Google">
		<span>Continar com Google</span>
	</button>
	<div>
		<p>Ao continuar você concorda com os <a routerLink="/terms">Termos de Uso</a> do Coaprend e confirma que leu nossa <a routerLink="/policy">Politica de Privacidade</a>.</p>
		<p>Já tem uma conta? <a routerLink="/login">Entrar</a>.</p>
	</div>
</main>