:root {
	// Color variables
	--color-primary: hsl(220, 100%, 50%);
	--color-primary-light: hsl(220, 80%, 50%);
	--color-primary-dark: hsl(220, 100%, 30%);

	--color-background: hsl(0, 0%, 100%);
	--color-background-secondary-highlight: hsl(0, 0%, 95%);
	--color-background-secondary: hsl(0, 0%, 90%);

	--color-border: hsl(0, 0%, 90%);

	--color-text-primary: hsl(0, 0%, 0%);
	--color-text-secondary: hsl(0, 0%, 20%);

	// Spacing
	--spacing-xs: 4px;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-b: 32px;

	// Text Size
	--text-s: 0.625rem;
	--text-m: 0.938rem;
	--text-b: 1.25rem;

	// Others
	--border-thickness: 2px;
	--border-radius-s: 5px;
}