:root {
	--color-blue: #174EAE;
	--color-medium-blue: #4285F4;
	--color-light-blue: #D2E3FC;

	--color-red: #A50E0E;
	--color-medium-red: #EA4335;
	--color-light-red: #FAD2CF;

	--color-orange: #E37400;
	--color-yellow: #FBBCO4;
	--color-light-yellow: #FEEFC3;

	--color-green: #0D652D;
	--color-medium-green: #34A853;
	--color-light-green: #CEEAD6;

	--color-black: #202124;
	--color-grey: #9AA0A6;
	--color-light-grey: #F1F3F4;
	--color-white: #FFFFFF;

	--txt-color: hsl(0, 0%, 0%);
	--txt-color-light: hsl(0, 0%, 20%);
	--txt-color-lighter: #9AA0A6;
	--txt-color-opossite: #ffffff;

	--bg-img: url("/assets/background.png");
	--bg-dark: hsl(0, 0%, 20%);
	--bg-light: hsl(0, 0%, 100%);

	--spacing-xs: 4px;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-b: 32px;

	--txt-xs: 10px;
	--txt-s: 12px;
	--txt-m: 15px;
	--txt-b: 20px;

	--bd-size: 1px;
	--bd-rd-out: 10px;
	--bd-rd-in: 8px;
}

body.darkMode {
	--color-blue: #D2E3FC;
	--color-medium-blue: #4285F4;
	--color-light-blue: #174EAE;

	--color-black:#FFFFFF;
	--color-grey: #F1F3F4;
	--color-light-grey: #9AA0A6;
	--color-white: #202124;

	--txt-color: hsl(0, 0%, 100%);
	--txt-color-light: hsl(0, 0%, 80%);
	--txt-color-lighter: #9AA0A6;
	--txt-color-opossite: #000000;

	--bg-img: url("/assets/backgroundDark.png");
	--bg-dark: hsl(0, 0%, 100%);
	--bg-light: hsl(0, 0%, 20%);
}