<footer>
  <button [class.selected]='selectedTab == "class"' [routerLink]="['/class', classId, 'posts']">
    @if (selectedTab == 'class') {
      <ion-icon name='school'></ion-icon>
    } @else {
      <ion-icon name='school-outline'></ion-icon>
    }
    <label>Salas</label>
  </button>
  
  <button>
    <ion-icon name='add' id="create-popup-trigger" (click)="openCreateNav($event)"></ion-icon>
    <label>Criar</label>
  </button>

  <button [class.selected]='selectedTab == "profile"' [routerLink]="['/profile', 'profileId']">
    @if (selectedTab == 'profile') {
      <ion-icon name='person'></ion-icon>
    } @else {
      <ion-icon name='person-outline'></ion-icon>
    }
    <label>Você</label>
  </button>
</footer>