footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(40px + var(--spacing-m));
    background-color: var(--bg-light);
    border-top: var(--bd-size) solid var(--color-light-grey);
    border-radius: var(--bd-rd-out) var(--bd-rd-out) 0 0;
    button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: calc(100% - var(--spacing-m) + (var(--spacing-m) / 4));
        background: initial;
        border-radius: var(--bd-rd-in);
        gap: calc(var(--spacing-sx) / 2);
        color: var(--txt-color);
        font-size: var(--text-s);
        ion-icon {
            font-size: 24px;
        }
    }
    button.selected {
        background-color: #D2E3FC;
        color: #174EA6;
        ion-icon {
            color: #174EA6;
        }
    }
}