<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>
<post-card [post]="postExample"></post-card>