# -----------------
# Regras do Projeto (Raiz)
# -----------------
.DS_Store
Thumbs.db


# Arquivos de Configuração e Ambiente
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json

# -----------------
# Regras do Frontend (Ionic)
# -----------------
# Arquivos de build, logs e dependências do Ionic.
mobile/*~
mobile/*.sw[mnpcod]
mobile/.tmp
mobile/*.tmp
mobile/*.tmp.*
mobile/UserInterfaceState.xcuserstate
mobile/$RECYCLE.BIN/
mobile/log.txt
mobile/.sourcemaps
mobile/.versions
mobile/android
mobile/coverage
mobile/.ionic
mobile/www
mobile/platforms
mobile/plugins
mobile/dist
mobile/tmp
mobile/out-tsc
mobile/bazel-out
mobile/npm-debug.log
mobile/yarn-error.log
mobile/.idea/
mobile/.project
mobile/.classpath
mobile/.c9/
mobile/*.launch
mobile/.settings/
mobile/*.sublime-project
mobile/*.sublime-workspace
mobile/.vscode/*
!mobile/.vscode/settings.json
!mobile/.vscode/tasks.json
!mobile/.vscode/launch.json
!mobile/.vscode/extensions.json
mobile/.history/*
mobile/.angular
mobile/.angular/cache
mobile/.sass-cache/
mobile/.nx
mobile/.nx/cache
mobile/connect.lock
mobile/libpeerconnection.log
mobile/testem.log
mobile/typings

# A pasta node_modules pode aparecer em várias partes, ignoramos ela globalmente.
node_modules