<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    <ion-title>Criar Sala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="content-container">
    <ion-input
      type="text"
      placeholder="Digite aqui"
      label="Nome da Sala"
      labelPlacement="stacked"
      [(ngModel)]="className"
      name="className"
    ></ion-input>
  </form>
</ion-content>

<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  [activated]="true"
  style="display: flex; align-items: end; gap: 8px;"
  (click)="createClass()"
>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      aspect-ratio: 1/1;
      background-color: var(--ion-color-primary);
      border-radius: 24px;
    "
  >
    <ion-icon name="add" style="font-size: 32px; color: white;"></ion-icon>
  </div>
</ion-fab>
