<ion-header>
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>
<main class="content-container grid-spacing-b">
  <div class="grid-spacing-m">
    <h1 class="ion-text-center"><strong>Verifique o código em seu E-mail</strong></h1>
  </div>
	<form class="grid-spacing-m">
		<ion-input
			type="text"
      label="Código"
			labelPlacement="stacked"
  		errorText="Código Invalido"
		></ion-input>
    <ion-button [routerLink]="['/class/0/posts']" class="ion-text-capitalize" shape="round">Verificar</ion-button>
	</form>
  <p>Não encontrou seu código? <a>Reenviar E-mail</a>.</p>
</main>
<ion-toast trigger="test" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>