<ion-header>
  <ion-toolbar style="padding: 0 8px">
    <ion-avatar slot="start" style="width: 40px; height: 40px">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-searchbar style="--border-radius: 50px"></ion-searchbar>
    <ion-avatar slot="end" style="width: 40px; height: 40px">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
  </ion-toolbar>
</ion-header>