<article class="task-card"> 
    <div class="task-card-main">
        <ion-checkbox *ngIf="multiTasks"></ion-checkbox>
        <div class="task-card-content" [routerLink]="['/task', task.id]"> 
            <p class="task-text">{{ task.dueDate }}</p>
            <h2>{{ task.title }}</h2>
        </div>
    </div>
    <div class="tags-container">
        <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
        <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
    </div>
</article>
<p *ngIf="!multiTasks">{{ task.content }}</p>
<hr *ngIf="multiTasks">