<article class="task-card"> 
    <div class="task-card-main">
        <ion-checkbox></ion-checkbox>
        <div class="task-card-content"> 
            <p class="task-text">{{ task.dueDate }}</p>
            <h2>{{ task.title }}</h2>
        </div>
    </div>
    <div class="task-card-tags">
        <div class="tag">
            <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
            <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
        </div>
    </div>
</article>
<hr>