<ion-header style="border-bottom: 1px solid gray;">
  <div class="content-container" style="height: 100%; display: flex; align-items: center; margin: 0 16px;">
    <ion-buttons slot="start" style="height: 100%;">
      <ion-back-button icon="caret-back" color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </div>
</ion-header>

<ion-content>
  <main class="content-container">
    <post-card [post]="post" [multiPosts]="false"></post-card>

    <ion-button expand="block" (click)="generateContent()">
      <ion-icon slot="start" name="bulb-outline"></ion-icon>
      Gerar Questionário
    </ion-button>

    <ion-spinner
      *ngIf="isLoading"
      name="crescent"
      style="display: block; margin: 20px auto;">
    </ion-spinner>

    <ion-card *ngIf="showResult">
      <ion-card-header>
        <ion-card-title>Resultado</ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="resultText"></ion-card-content>
    </ion-card>
  </main>
</ion-content>
