* {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 32px 16px;
}

h1 {
    color: #4285F4;
    font-size: 25px;
}

h2 {
    font-size: var(--text-b);
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: var(--text-s);
    color: var(--color-text-secondary);
}

.error-message {
    color: red;
}