* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    gap: var(--spacing-m);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: var(--bg-light);
    padding: var(--spacing-b) var(--spacing-m);
    h1 {
        color: var(--color-medium-blue);
        font-size: calc(var(--txt-b) * 1.25);
        font-weight: bold;
    }
    span {
        font-size: var(--txt-xs);
        color: var(--txt-color-light);
    }
    div {
        p {
            text-align: center;
            font-size: var(--txt-s);
            color: var(--txt-color-light);
            a {
                color: var(--color-medium-blue);
            }
        }
    }
}

.error-message {
    color: red;
}

// .ripple {
//     background-position: center;
//     transition: background 0.8s;
// }
// .ripple:hover {
//     background: #4285F4 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
// }
// .ripple:active {
//     background-color: #4285F4;
//     background-size: 100%;
//     transition: background 0s;
// }

// .ripple::after {
//     content: ""; /* Required for pseudo-elements to render */
//     background-size: cover; /* Ensures the image covers the entire container */
//     background-position: center; /* Centers the image */
//     position: absolute; /* Positions the pseudo-element relative to the container */
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     background-color: rgba(0, 0, 0, 0); /* Initially transparent black */
//     transition: background-color 0.3s ease;
// }
  
// .ripple:focus::after {
//     background: rgba(0, 0, 0, 0.1) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%) center/15000%;
// }

// .ripple:active::after {
//     background-color: rgba(0, 0, 0, 0.3);
//     background-size: 100%;
//     transition: background 0s;
// }