<main class="content-container grid-spacing-b">
  <h2>Entrar</h2>
    <form class="grid-spacing-m" (ngSubmit)="submitForm()">
     <app-input
      label="E-mail" 
      type="email"
      (value)="form.email = $event"
      required 
    ></app-input>
     <app-input
      label="Senha" 
      type="password"
      (value)="form.password = $event"
      required
    ></app-input>
    
       <input 
        class="primary-btn" 
        value="Continuar" 
        type="submit" 
        [disabled]="isLoading" 
        (click)="submitForm()"
       >

   <p>OU</p>
    
       <input class="primary-btn" value="Continuar com Google" type="button" [disabled]="isLoading">
  </form>

  <div class="grid-spacing-m">
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p>Não tem uma conta? <a routerLink="/register">Cadastre-se</a>.</p>
  </div>
</main>