main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

h2 {
    font-size: var(--text-b);
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    font-size: var(--text-s);
    color: var(--color-text-secondary);
    padding: 0;
    margin: 0;
}

.error-message {
    color: red;
}