<ion-header>
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>
<main class="content-container grid-spacing-b">
  <div class="grid-spacing-m">
    <h1 class="ion-text-center"><strong>Recuperar a Senha</strong></h1>
    <p>Será enviado os próximos passos para recuperar sua senha no e-mail da conta</p>
  </div>
	<form class="grid-spacing-m">
		<ion-input
			type="email"
			placeholder="email@domain.com"
			label="Email"
			labelPlacement="stacked"
			autocomplete="email"
  			errorText="Email invalido"
		></ion-input>
    <ion-button [routerLink]="['/class/0/post']" class="ion-text-capitalize" shape="round">Enviar</ion-button>
	</form>
</main>
<ion-toast trigger="test" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>