<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci Minha Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <main class="content-container grid-spacing-b">
    <h1 class="ion-text-center">Recuperação de Senha</h1>
    <p class="ion-text-center ion-margin-bottom">
      Digite o e-mail cadastrado em sua conta para receber o link de redefinição.
    </p>

    <form>
      <ion-input
        type="email"
        name="email"
        [(ngModel)]="email"
        label="E-mail"
        labelPlacement="stacked"
        fill="outline"
        placeholder="seu@email.com"
        autocomplete="email"
        required
      ></ion-input>

      <ion-button 
        class="ion-margin-top ion-text-capitalize" 
        (click)="submitEmail()" 
        expand="block" 
        shape="round"
        size="large"
        [disabled]="isLoading || !email"
      >
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Enviar Link</span>
      </ion-button>
    </form>
  </main>
</ion-content>
