<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" aria-label="Voltar" color="dark" text=""></ion-back-button>
    <ion-title>Criar Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="grid-spacing-m">

    <!-- DATA LIMITE -->
    <ion-input
      type="date"
      label="Data Limite*"
      labelPlacement="stacked"
      [(ngModel)]="deadline"
      name="deadline"
      style="border-bottom: 1px solid gray;">
    </ion-input>

    <!-- TÍTULO -->
    <ion-input
      type="text"
      label="Título*"
      labelPlacement="stacked"
      [(ngModel)]="title"
      name="title"
      placeholder="Digite aqui"
      style="border-bottom: 1px solid gray;">
    </ion-input>

    <!-- DESCRIÇÃO -->
    <ion-textarea
      label="Conteúdo"
      labelPlacement="stacked"
      placeholder="Digite aqui"
      [autoGrow]="true"
      [(ngModel)]="description"
      name="description">
    </ion-textarea>

    <!-- INPUT DE ARQUIVO (ESCONDIDO) -->
    <input type="file" id="fileInput" style="display:none" multiple (change)="onFileSelected($event)">
  </form>

  <!-- LISTA DE ANEXOS -->
  <div class="ion-padding" *ngFor="let file of attachments; let i = index">
    <ion-chip>
      {{ file.name }}
      <ion-icon name="close" (click)="removeAttachment(i)"></ion-icon>
    </ion-chip>
  </div>

  <!-- LISTA DE TAGS -->
  <ion-chip *ngFor="let t of tags; let i = index">
    {{ t }}
    <ion-icon name="close" (click)="removeTag(i)"></ion-icon>
  </ion-chip>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="display: flex; align-items: end; gap: 8px;">

  <!-- ANEXOS -->
  <button class="fab-secondary-button" aria-label="Adicionar imagens" (click)="openFilePicker()">
    <ion-icon name="image-outline" class="icon-s"></ion-icon>
  </button>

  <!-- TAGS -->
  <button class="fab-secondary-button" aria-label="Adicionar Tags" (click)="openTagPrompt()">
    <ion-icon name="pricetag-outline" class="icon-s"></ion-icon>
  </button>

  <!-- SELECIONAR SALA -->
  <button class="fab-secondary-button" aria-label="Selecionar a sala" (click)="selectRoom()">
    <ion-icon name="school-outline" class="icon-s"></ion-icon>
  </button>

  <!-- PUBLICAR -->
  <button class="fab-primary-button" aria-label="Publicar a tarefa" (click)="submit()">
    <ion-icon name="add" class="icon-m"></ion-icon>
  </button>

</ion-fab>
