
<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    <ion-title>Criar Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- TÍTULO -->
  <ion-item>
    <ion-label position="floating">Título *</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <!-- DESCRIÇÃO -->
  <ion-item>
    <ion-label position="floating">Descrição *</ion-label>
    <ion-textarea rows="6" [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <!-- DATA LIMITE -->
  <ion-item>
    <ion-label>Data limite *</ion-label>
    <ion-datetime
      presentation="date"
      [(ngModel)]="deadline">
    </ion-datetime>
  </ion-item>

  <!-- TAG COLOR -->
  <ion-item>
    <ion-label>Cor da tag</ion-label>
    <ion-input type="color" [(ngModel)]="tagColor"></ion-input>
  </ion-item>

  <!-- TAGS -->
  <ion-list>
    <ion-item>
      <ion-input placeholder="Adicionar tag" [(ngModel)]="newTag"></ion-input>
      <ion-button slot="end" (click)="addTag()">+</ion-button>
    </ion-item>

    <ion-chip *ngFor="let t of tags; let i = index">
      {{ t }}
      <ion-icon name="close" (click)="removeTag(i)"></ion-icon>
    </ion-chip>
  </ion-list>

  <!-- ANEXOS -->
  <ion-item>
    <ion-label>Anexos</ion-label>
    <input type="file" multiple (change)="onFileSelected($event)" />
  </ion-item>

  <div class="ion-padding" *ngFor="let file of attachments; let i = index">
    <ion-chip>
      {{ file.name }}
      <ion-icon name="close" (click)="removeAttachment(i)"></ion-icon>
    </ion-chip>
  </div>

  <!-- BOTÃO ENVIAR -->
  <ion-button
    expand="block"
    color="primary"
    [disabled]="isSubmitting"
    (click)="submit()">
    Criar tarefa
  </ion-button>

</ion-content>

