
<div class="top-nav-button">
    <ion-button fill="clear" (click)="goToPrevWeek()">
        <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-button>
</div>
<h2>{{ currentMonth | titlecase }}</h2>
<div class="week-display">
    <div class="day-box" *ngFor="let day of daysOfSelectedWeek" (click)="selectDay(day)">
        <span class="weekday">{{ formatWeekday(day) }}</span>
        <span class="day">{{ formatDay(day) }}</span>
    </div>
</div>

<div class="bottom-nav-button">
    <ion-button fill="clear" (click)="goToNextWeek()">
        <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
</div>
  <ion-list *ngIf="weeklyTasks.length > 0">
  <ion-list-header>
    <ion-label>Tarefas desta Semana</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let task of weeklyTasks">
    <ion-label>
      <h2>{{ task.titulo }}</h2>
      <p>Entrega: {{ task.data_limite | date:'dd/MM/yyyy' }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-item *ngIf="weeklyTasks.length === 0">
  <ion-label>Nenhuma tarefa nesta semana.</ion-label>
</ion-item>
