h2 {
  font-size: var(--text-b);
  margin: 0;
  padding: 0;
}

.week-display {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--spacing-s);
  align-items: center;
  width: 100%;

  .day-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-s);
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    cursor: pointer;

    .weekday {
      font-size: var(--text-s);
      text-transform: uppercase;
    }

    .day {
      font-size: var(--text-b);
      font-weight: bold;
    }
  }
}