<section class="week-selector grid-spacing-s">
    <ion-button fill="clear" (click)="goToPrevWeek()">
        <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
    </ion-button>

    <h2>{{ currentMonth | titlecase }}</h2>

    <div class="week-display">
        <div class="day-box" *ngFor="let day of daysOfSelectedWeek" (click)="selectDay(day)">
            <span class="weekday">{{ formatWeekday(day) }}</span>
            <span class="day">{{ formatDay(day) }}</span>
        </div>
    </div>

    <ion-button fill="clear" (click)="goToNextWeek()">
        <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
    </ion-button>
</section>

<!-- LISTA SEMANAL -->
<ion-list *ngIf="!showingDayOnly">

    <!-- TAREFAS -->
    <ion-item *ngFor="let task of tasksOfWeek">
        <ion-label>
            <h2>{{ task.titulo }}</h2>
            <p>{{ task.descricao }}</p>
            <p>Entrega: {{ task.data_limite | date:'dd/MM/yyyy' }}</p>
        </ion-label>
    </ion-item>

    <!-- POSTS -->
    <ion-item *ngFor="let post of postsOfWeek">
        <ion-label>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Postado em: {{ post.date | date:'dd/MM/yyyy' }}</p>
        </ion-label>
    </ion-item>

</ion-list>

<!-- LISTA POR DIA SELECIONADO -->
<ion-list *ngIf="showingDayOnly">

    <!-- TAREFAS -->
    <ion-item *ngFor="let task of tasksOfSelectedDay">
        <ion-label>
            <h2>{{ task.titulo }}</h2>
            <p>{{ task.descricao }}</p>
            <p>Entrega: {{ task.data_limite | date:'dd/MM/yyyy' }}</p>
        </ion-label>
    </ion-item>

    <!-- POSTS -->
    <ion-item *ngFor="let post of postsOfSelectedDay">
        <ion-label>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Postado em: {{ post.date | date:'dd/MM/yyyy' }}</p>
        </ion-label>
    </ion-item>

</ion-list>
