<div class="post-card">
    <div class="post-card-header">
      <div class="post-card-profile">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <p>{{ post.author }}</p>
      </div>
      <div class="post-card-tags">
        <div class="tag">
          <ion-icon name="file-tray-stacked-outline"></ion-icon>
        </div>
      </div>
    </div>
    
    <div class="post-card-content">
      <h2>{{ post.title }}</h2>
      <p class="post-text">{{ post.content }}</p>
    </div>
  </div>