/*
 * ----------------------------------------------------
 * ESTILOS GERAIS
 * ----------------------------------------------------
 */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*
 * ----------------------------------------------------
 * ESTILOS DO CARD DA POSTAGEM
 * ----------------------------------------------------
 */
.post-card {
    display: grid;
    gap: var(--spacing-m);
    margin: 16px 0;
}

/*
 * ----------------------------------------------------
 * CABEÇALHO DO CARD
 * ----------------------------------------------------
 */
.post-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-card-profile {
    display: flex;
    align-items: center;
    width: fit-content;
}

.post-card-profile > img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.post-author-name {
    color: var(--color-text-secondary);
    font-size: var(--text-m);
    margin-left: var(--spacing-s);
}

.post-card-tags {
    display: flex;
    align-items: center;
    width: fit-content;
}

.tag {
    display: flex;
    align-items: center;
    width: fit-content;
}

.tag > ion-icon {
    padding: var(--spacing-xs);
    background-color: blue;
    color: white;
    border-radius: var(--border-radius-s);
    margin-left: var(--spacing-s);
}

/*
 * ----------------------------------------------------
 * CONTEÚDO DO CARD
 * ----------------------------------------------------
 */
.post-card-content {
    display: grid;
    gap: var(--spacing-s);
}

.post-card-content > h2 {
    font-size: var(--text-b);
    font-weight: bold;
}

.post-card-content > p {
    font-size: var(--text-m);
    line-height: 140%;
}

.post-text {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/*
 * ----------------------------------------------------
 * RODAPÉ DO CARD
 * ----------------------------------------------------
 */
.post-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-link {
    color: var(--color-primary);
    font-size: var(--text-m);
    text-decoration: none;
}

.bookmark-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--color-icon-default);
    font-size: var(--icon-l);
    transition: color 0.2s ease; 
}

.bookmark-button:hover {
    color: var(--color-primary);
}