<article class="post-card"> 
    <header class="post-card-header">
        <div class="post-card-profile">
            <img alt="Avatar do autor" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <p class="post-author-name">{{ post.author }}</p>
        </div>
        <div class="post-card-tags">
            <div class="tag">
                <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
                <ion-icon name="file-tray-stacked-outline" aria-hidden="true"></ion-icon>
            </div>
        </div>
    </header>
    
    <div class="post-card-content">
        <h2>{{ post.title }}</h2> 
        <p class="post-text">{{ post.items[0].content }}</p>
    </div>

    <footer class="post-card-footer">
        <a [routerLink]="['/post']" class="post-link">Ver Mais</a>
        <div>
            <button class="bookmark-button" aria-label="Marcar postagem">
                <ion-icon name="bookmark-outline"></ion-icon>
            </button>
        </div>
    </footer>

    <hr>
</article>