* {
    margin: 0;
    padding: 0;
    --tag-color: #4285F4;
}

article {
    display: grid;
    gap: var(--spacing-s);
    margin: 16px 0;
    background-color: var(--bg-light);
    border-radius: var(--bd-rd-out);
    overflow: hidden;
    div {
        width: 100%;
        background-color: var(--tag-color);
        h3 {
            margin: var(--spacing-xs) 0;
            text-align: center;
            font-weight: bold;
            font-size: var(--txt-m);
            color: var(--txt-color-opossite);
        }
    }
    h2 {
        font-size: var(--txt-b);
        font-weight: bold;
        margin: 0 var(--spacing-m);
        line-clamp: 2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    p {
        font-size: var(--txt-m);
        margin: 0 var(--spacing-m);
        line-clamp: 5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }
    footer {
        display: flex;
        justify-content: space-between;
        width: calc(100% - var(--spacing-m) * 2);
        margin: var(--spacing-m);
        a {
            font-size: var(--txt-m);
            color: var(--color-medium-blue);
            text-decoration: none;
        }
        div {
            width: fit-content;
            background-color: initial;
            button {
                background-color: initial;
                font-size: var(--txt-b);
            }
        }
    }
}