<div class="post-card">
    <div class="post-card-header">
      <div class="post-card-profile">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <p>Lucas Leite</p>
      </div>
      <div class="post-card-tags">
        <div style="width: 60px; height: 20px; background-color: yellow;"></div>
      </div>
    </div>
    
    <div class="post-card-content">
      <h2>Como fazer seu primeiro projeto em React!</h2>
      <p>Depois de algumas semanas estudando e testando bastante, finalmente finalizei meu primeiro projeto em React. 🎉 Foi um sistema simples de lista de tarefas (To-Do List), mas me ajudou muito a entender melhor como funcionam:</p>
    </div>
  </div>