* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.post-card {
    margin: 16px 16px 0 16px;
}

.post-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-m);
}

.post-card-profile {
    display: flex;
    align-items: center;
    width: fit-content;
}

.post-card-profile > img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.post-card-profile > p {
    color: var(--color-text-secondary);
    font-size: var(--text-s);
    margin-left: var(--spacing-s);
}

.post-card-tags {
    display: flex;
    align-items: center;
    width: fit-content;
}

.post-card-content > h2 {
    font-size: var(--text-m);
    font-weight: bold;
    margin-bottom: var(--spacing-s);
}

.post-card-content > p {
    font-size: var(--text-s);
    line-height: 140%;
}

.tag {
    display: flex;
    align-items: center;
    width: fit-content;
}

.tag > ion-icon {
    padding: var(--spacing-xs);
    background-color: blue;
    color: white;
    border-radius: var(--border-radius-s);
    margin-left: var(--spacing-s);
}

.post-text {
    -webkit-line-clamp: 4;
    // Estas propriedades são necessárias para que a linha acima funcione
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis; 
}