<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Basico</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Nome da sala</ion-item>
    <ion-item [button]="true">Foto da sala</ion-item>
  </ion-list>
  <ion-list-header>Organização</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Tags</ion-item>
  </ion-list>
  <ion-list-header>Permissões</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Usuários</ion-item>
  </ion-list>
</ion-content>
