<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Sala</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Alterar nome</ion-item>
    <ion-item [button]="true">Alterar foto de perfil</ion-item>
  </ion-list>
  <ion-list-header>Organização</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">Tags</ion-item>
    <ion-item [button]="true">Permissões</ion-item>
  </ion-list>
  <ion-list-header>Mais</ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true">
      <ion-label color="danger">Excluir</ion-label>
    </ion-item>
    <ion-item [button]="true">
      <ion-label color="danger">Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
