<ion-header style="border-bottom: 1px solid gray;">
  <div class="content-container" style="height: 100%; display: flex; align-items: center; margin: 0 16px;">
    <ion-buttons slot="start" style="height: 100%;">
      <ion-back-button icon="caret-back" color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Tarefa</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">task</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
