header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--spacing-s) var(--spacing-m);
    div {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs);
        img {
            width: 22px;
            aspect-ratio: 1/1;
        }
        label {
            color: var(--txt-color);
            font-variant: small-caps;
            font-weight: bold;
            font-size: var(--txt-m);
        }
    }
    nav {
        display: flex;
        align-items: center;
        padding: var(--spacing-xs);
        border-radius: var(--bd-rd-out);
        border: var(--bd-size) solid var(--color-light-grey);
        background-color: var(--bg-light);
        gap: var(--spacing-s);
        div {
            gap: var(--spacing-xs);
            img {
                width: 26px;
                aspect-ratio: 1/1;
                border-radius: var(--bd-rd-in);
            }
            label {
                font-size: var(--txt-m);
                font-weight: normal;
            }
        }
        span {
            width: 1px;
            height: 24px;
            background-color: var(--color-light-grey);
        }
        ion-icon {
            font-size: var(--txt-b);
        }
    }
}