.app-input-container {
    position: relative;
}

.app-input-container > input {
    width: 100%;
    height: 52px;
    padding: 16px;
    border-radius: var(--border-radius-s);
    border: var(--border-thickness) solid var(--color-border);
}

.app-input-container > .error-input {
    border: var(--border-thickness) solid red;
}

.app-input-container > label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    font-size: var(--text-m);
    pointer-events: none;
    transition: .2s;
}

.app-input-container > input:focus~label,
.app-input-container > input:not(:placeholder-shown)~label {
    top: 0;
    font-size: var(--text-s);
    background-color: var(--color-background);
}