nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-light);
    border-radius: var(--bd-rd-out);
    height: 34px;
    padding: var(--spacing-xs);
    margin: 0 var(--spacing-m);
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        height: 100%;
        background-color: initial;
        border-radius: var(--bd-rd-in);
        font-size: var(--text-m);
        color: var(--color-black);
    }
    button.selected {
        background-color: var(--color-light-blue);
        color: var(--color-blue);
    }
}