.profile {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    width: 100%;

    img {
        width: 64px;
        aspect-ratio: 1/1;
        border-radius: 32px;
    }

    h2 {
        font-size: var(--text-b);
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    
    h3 {
        font-size: var(--text-m);
        padding: 0;
        margin: 0;
    }
}