<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(profileData){
    <h2 class="ion-text-center">{{ profileData.name }}</h2>
    <p class="ion-text-center ion-text-muted">{{ profileData.email }}</p>
    
    <ion-list class="ion-margin-top">
      <ion-item lines="full">
        <ion-label>
          <p class="ion-text-wrap">Bio: {{ profileData.bio || 'Sem bio cadastrada' }}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>
          <p>Data de Nascimento: {{ profileData.dt_birthday || 'Sem data cadastrada' }}</p>
        </ion-label>
       </ion-item>
    </ion-list>
  }

  <ion-row>
    <ion-col>
      <ion-button
        (click)="confirmLogout()"
        shape="round"
        expand="block"
        color="danger"
        fill="outline">
        Sair da Conta
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button
        (click)="confirmDeleteAccount()"
        shape="round"
        expand="block"
        color="danger"
        fill="outline">
        Excluir Minha Conta
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
