<ion-header class="subpage-header">
  <ion-toolbar class="content-container">
    <ion-back-button slot="start" icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    <ion-title>Selecionar Sala</ion-title>
    <div slot="end" class="header-nav">
      <ion-icon name="pricetag-outline" id="trigger-button"></ion-icon>
      <ion-icon name="search-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let class of classes" class="class-item">
      <div>
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=">
        <p>{{ class.name }}</p>
      </div>
      <div slot="end">
        <ion-icon name="settings-outline" id="open-modal" [routerLink]="['/class', class.id, 'config']"></ion-icon>
        <ion-icon name="exit-outline" color="danger" (click)="exitClassAlert(class.name, class.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>