<cpr-header></cpr-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <span class="week-range-text">Dia {{ weekRange }}</span>
  </div>

  <div class="top-nav-button">
    <ion-button fill="clear" (click)="prevWeek()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="week-display">
    <div class="day-box" *ngFor="let day of currentWeek" (click)="selectDate(day)">
      <span class="weekday">{{ formatWeekday(day) }}</span>
      <span class="day">{{ formatDay(day) }}</span>
    </div>
  </div>

  <div class="bottom-nav-button">
    <ion-button fill="clear" (click)="nextWeek()">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </div>
  
  <a (click)="filterPostsByWeek()">Essa semana</a><br>
  <a (click)="filterPostsByMonth()">Esse Mês</a>

  <div *ngIf="filteredPosts.length > 0">
    <cpr-task-card *ngFor="let post of filteredPosts" [post]="post"></cpr-task-card>
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-bottom: 64px">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="showCreatePostAlert()">
      <ion-icon name="document-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="clipboard-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
        <ion-tab tab="radio">
      </ion-tab>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home" tab="posts">
          <ion-icon name="document-outline"></ion-icon>
          Posts
        </ion-tab-button>
        <ion-tab-button routerLink="/agenda" tab="radio">
          <ion-icon name="calendar-clear-outline"></ion-icon>
          Agenda
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>