.header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
  height: 36px;
  padding: 3px;
  background-color: var(--color-background-secondary);
  border-radius: 18px;
  border: 2px solid var(--color-border);
  
  div {
    display: flex;
    align-items: center;

    img {
      width: 28px;
      aspect-ratio: 1/1;
      margin-right: var(--spacing-s);
      border-radius: 50%;
    }

    p {
      font-size: var(--text-m);
    }
  }
}

.header-nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  a {
    font-size: var(--text-m);
    text-align: center;
    text-decoration: none;
    color: var(--color-text-secondary);
    height: 32px;
    line-height: 32px;
    border-bottom: var(--border-thickness) solid var(--color-border);
  }

  a.selected {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}

.tag-selector {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 8px;

  .tag-option.blue {
    --color: #0033ff;
  }

  .tag-option.red {
    --color: #ffe600;
  }

  .tag-option.yellow {
    --color: #ff0000;
  }

  .tag-option {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid var(--color);
    height: fit-content;
    padding: 8px;

    ion-icon, p {
      margin: 0;
      padding: 0;
    }
  }

  .tag-option.selected {
    border-width: 0;
    background-color: var(--color);
  }
}
