<ion-header [class.hidden]="isHidden">
    <div class="header-top">
        <class-selector></class-selector>
        <div class="header-search">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
</ion-header>

<div class="header-nav">
    <a [class.tabselected]="postTab" [routerLink]="['/class', classId, 'post']">Postagens</a>
    <a [routerLink]="['/class', classId, 'tasks']" [class.tabselected]="taskTab">Tarefas</a>
    <a [routerLink]="['/class', classId, 'calendar']" [class.tabselected]="calendarTab">Calendário</a>
</div>

<ion-content [scrollEvents]="true" (ionScroll)="onContentScroll($event)">
    <main class="content-container">
        <router-outlet></router-outlet>
    </main>
</ion-content>

<ion-footer [class.hidden]="isHidden">
    <nav>
        <ion-tab-button tab="salas" [routerLink]="['/class', classId, 'post']">
            <ion-icon name="school-outline"></ion-icon>
            <ion-label>Salas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="criar">
            <ion-icon name="add-circle" style="font-size: 40px; color: var(--ion-color-primary);"></ion-icon>
            <ion-label style="display: none;">Criar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="perfil" [routerLink]="['/profile']">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Você</ion-label>
        </ion-tab-button>
    </nav>
</ion-footer>