<ion-header>
    <div class="header-top content-container">
        <class-selector></class-selector>
        <div class="header-search">
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-icon name="search-outline"></ion-icon>
        </div>
    </div>
    <div class="header-nav content-container">
        <button>Postagens</button>
        <button>Tarefas</button>
        <button>Calendário</button>
    </div>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>

</ion-footer>
