.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 var(--spacing-m);
}

.header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 174px;
  height: 36px;
  padding: 3px;
  background-color: var(--color-background-secondary);
  border-radius: 18px;
  border: 2px solid var(--color-border);
  
  div {
    display: flex;
    align-items: center;

    img {
      width: 28px;
      aspect-ratio: 1/1;
      margin-right: var(--spacing-s);
      border-radius: 50%;
    }

    p {
      font-size: var(--text-m);
    }
  }
}

.header-search {
  display: grid;
  grid-auto-flow: column;
  gap: var(--spacing-s);
}

.header-search > ion-icon {
  width: 24px;
  height: 24px;
}

.header-nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header-nav > a {
  font-size: var(--text-m);
  text-align: center;
  text-decoration: none;
  color: var(--color-text-secondary);
  height: 32px;
  line-height: 32px;
  border-bottom: var(--border-thickness) solid var(--color-border);
}

.header-nav > a.tabselected {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.hl {
  width: 100vh;
  margin: auto;
  border-top: var(--border-thickness) solid var(--color-border);
}

ion-header.hidden {
  display: none;
}

ion-footer.hidden {
  display: none;
}

ion-footer {
  nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
}
